<form name="votingForm" class="form-horizontal" ng-submit="create(votingForm.$valid)" novalidate>
  <fieldset>
    <div class="form-group" show-errors>
      <label for="title">Title</label>
      <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
      <div ng-messages="votingForm.title.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Voting title is required.</p>
      </div>
    </div>

    <div class="form-group">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Once-only</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Recurring</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Single Choice</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Multiple Choice</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="answers">Answers</label>
      <ul name="answers" ng-model="answers" id="answers" class="list-group">
        <li class="list-group-item" ng-repeat="answer in answers">
          <div class="btn btn-warning" ng-click="removeAnswer(answer)">X</div>
          <span ng-bind="answer.title" class="voting-create-answer-name"></span>
        </li>
      </ul>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Answer..." ng-model="answer.title"/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="addAnswer(answer)">+</button>
            </span>
      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-default">
    </div>

    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </fieldset>
</form>
