<div class="panel panel-primary">
  <div class="panel-heading" data-ng-click="isCollapsed = !isCollapsed">
    <h1 class="panel-title">My Votings
      <a data-ui-sref="voting.create" class="btn btn-warning btn-xs" ng-if="showCreateLink">
        <span class="glyphicon-plus"></span>
      </a>
    </h1>
  </div>

  <div class="panel-body" data-uib-collapse="isCollapsed">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="list-group">
            <button data-ng-repeat="voting in votings"
                    data-ng-bind="voting.title"
                    data-ng-click="selectVoting(voting)"
                    class="list-group-item"></button>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div data-ng-if="chartData"
                     data-ui-chart="chartData" data-chart-options="chartOptions"></div>
              </div>
            </div>

            <div data-ng-repeat="answer in voting.answers" class="row">
              <div data-ng-class="{'vote' : 'col-md-10', '!vote' : 'col-md-12'}">
                <span data-ng-bind="answer.title"></span>
                {{answer}}
              </div>
              <div class="col-md-2" data-ng-if="vote">
                <button class="btn btn-primary" data-ng-click="vote(answer)">Vote!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
