<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title pull-left">
      <button class="btn btn-xs btn-info" data-ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon"
              data-ng-class="{'glyphicon-menu-down': isCollapsed, 'glyphicon-menu-up': !isCollapsed}"></span>
      </button>
      {{title}}
      <a data-ui-sref="voting.create" class="btn btn-xs btn-warning" data-ng-if="showCreateLink">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </h1>
    <button class="btn btn-info btn-xs pull-right" data-ng-click="refresh()">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <div class="clearfix"></div>
  </div>

  <div class="panel-body" data-uib-collapse="isCollapsed">
    <div class="container-fluid" data-ng-if="votings.length">
      <div class="row">
        <div data-ng-class="{'col-md-12' : !chartDataShown, 'col-md-4': chartDataShown}">
          <div class="list-group">
            <div data-ng-repeat="voting in votings"
                 data-ng-click="selectVoting(voting)"
                 class="list-group-item"
                 role="button">
              <div class="list-group-item-overflow">{{voting.title}}</div>
              <button class="btn btn-xs btn-danger pull-right"
                      data-ng-if="voting.canDelete"
                      data-ng-click="deleteVoting(voting); $event.stopPropagation();">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
              <button class="btn btn-xs btn-warning pull-right"
                      data-ng-if="voting.canEdit"
                      data-ng-click="editVoting(voting); $event.stopPropagation();">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8" data-ng-if="chartData">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div data-ui-chart="chartData" data-chart-options="chartOptions"></div>
              </div>
            </div>

            <div ng-if="!voting.hasVoted" class="row">
              <div ng-if="voting.answerType === 'single'">
                  <div class="btn-group" role="group" data-ng-if="vote">
                    <div data-ng-repeat="answer in voting.answers"
                         class="btn-group col-md-4 col-sm-4 col-xs-6" role="group">
                      <button type="button" class="btn btn-default btn-block" data-ng-click="vote(answer)">{{answer.title}}</button>
                    </div>
                  </div>
              </div>

              <div ng-if="voting.answerType === 'multiple'">
                <div data-ng-repeat="answer in voting.answers"
                     class="col-md-4 col-xs-4">
                  <span data-ng-bind="answer.title"></span>
                  <input type="checkbox" class="form-control"
                         ng-model="answers[answer._id]"
                         ng-disabled="!answers[answer._id] && Object.keys(answers).length < voting.maxAnswers ">
                </div>

                <button ng-if="voting.answerType === 'multiple'" class="btn btn-primary" data-ng-click="vote(answers)">Vote!</button>
              </div>
            </div>
            <button type="button" class="btn btn-danger row"
                    data-ng-if="voting.hasVoted"
                    data-ng-click="unvote()">Unvote!</button>
          </div>
        </div>
      </div>
    </div>
    <h4 data-ng-if="!votings.length">No votings found in this category!</h4>
  </div>
</div>
